.register {
  display: flex;

  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  transition: background-color 0.5s ease;
  &-main {
    display: flex;
    width: 1000px;
    height: 680px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border: solid 1px #e4e4e7;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    border-radius: 16px;
  }
  &-role {
    display: flex;
    flex-direction: row;
  }
  &-form {
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    flex-direction: column;
  }
  &-fields {
    display: flex;
    flex-direction: column;
    &__field {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__remember {
      display: flex;
      flex-direction: row;
    }
    &__forgot {
      color: var(--oc-primary);
    }
  }
  &-terms {
    cursor: pointer;
    text-underline-offset: 0.2em;
    color: var(--oc-primary);
  }
  &-actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    & > a:hover {
      color: var(--oc-primary);
      text-decoration: underline;
    }
  }
}
