@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols';
@import 'sass/mixins';

body {
  color: var(--oc-sys-color-typo-text-base);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
