.background {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--oc-sys-color-surface-container-high);
  transition: background-color 0.5s ease;
  @media screen and (max-width: 830px) {
    display: none;
  }
  img {
    padding-inline: var(--oc-sys-spacing-padding-xlarge);
  }
}
